@charset "UTF-8";

.content1 {
  height: 500px;
  background: url(../../image/coffee-background.jpg);
}

.content2 {
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.content3 {
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
}

.content4 {
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
}